@import "css-reset";
@import "utils";
@import "poppins";
@import "font-sizes";

:root {
  --primary-font: Poppins;
  --primary: #26DEC8;
  --secondary: #2563EB;
  --background: rgba(167, 67, 67, 86%);
  --text--primary: #FFFFFF;
  --text--secondary: #000000;
  --like--icon: #FF0000;
  --product--selected: #DFD9D9;
  --product--primary: #2C6363;
  --product--secondary: #E2B190;
  --homepage--buttons: #D9D9D9;
  --submit--buttons: rgba(217, 217, 217, 0.3);
  --radius: 10px;


}

img {
  user-select: none;
}

body {
  background-color: var(--background);
  font-family: var(--primary-font);
  color: var(--text--primary)
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
  direction: ltr;
}
