/** Fonts Config **/
@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 900;
  src: url("./src/assets/fonts/ttf/Poppins-Black.ttf");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: bold;
  src: url("./src/assets/fonts/ttf/Poppins-Bold.ttf");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  src: url("./src/assets/fonts/ttf/Poppins-Medium.ttf");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 300;
  src: url("./src/assets/fonts/ttf/Poppins-Light.ttf");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: 200;
  src: url("./src/assets/fonts/ttf/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: Poppins;
  font-style: normal;
  font-weight: normal;
  src: url("./src/assets/fonts/ttf/Poppins-Regular.ttf");
}
