.no-select {
  user-select: none;
  -moz-user-select: none;
  -webkit-user-select: none;
}

@mixin for-phone-only {
  @media (max-width: 599px) { @content; }
}
@mixin for-tablet-up {
  @media (min-width: 600px) { @content; }
}
@mixin for-tablet-landscape-up {
  @media (min-width: 992px) { @content; }
}
@mixin for-tablet-landscape-down {
  @media (max-width: 992px) { @content; }
}
@mixin for-desktop-up {
  @media (min-width: 1024px) { @content; }
}
@mixin for-desktop-down {
  @media (max-width: 1024px) { @content; }
}
@mixin for-big-desktop-up {
  @media (min-width: 1800px) { @content; }
}

.form_container {
  width: 100%;
  position: absolute;
  top: 40%;
  z-index: 2;
}
