.container {
  width: 100%;
  z-index: 2;
  position: absolute;
}

.icon_bar {
  padding: 0 1rem;
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin-top: 1rem;

  &_right {
    display: flex;
    flex-direction: row-reverse;
    span:first-child {
      transform: rotate(90deg);
      padding-left:.5rem;

    }

  }
  &_left{
    p{
      font-size: 1.5rem;
    }
  }
}
